#toTop {
    position: fixed;
    z-index: 99999;
    bottom: 20px;
    right: 120px;
    color: #d4dd29;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
  }
  
  #toTop::after {
    content: "\1F809";
    font-family: "fontello";
    margin-left: 10px;
    width: 21px;
    display: inline-block;
    text-align: center;
    height: 21px;
    line-height: 17px;
    border: 1px solid #d4dd29;
    border-radius: 50%;
  }