.list-movie{
  height: 100%;
  padding: 1rem 0;
  padding-top: 2rem;
}
.list-movie > nav > ul {
  margin: 0;
  list-style: none;
  padding: 22px 0;
}

.nav--titles {
  display: flex;
  justify-content: center;
}

.nav--titles > li {
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 300;
}

.nav--titles > li > a {
  text-decoration: none;
  color: #ffffff;
  margin: 20px 12px 15px;
  font-weight: 600;
}

.nav--titles > li > a:hover {
 
  color: #d4dd29;
  border-bottom: 1px solid #d4dd29;
}
.nav--titles > li > a.active-link{
  color: #d4dd29;
  border-bottom: 1px solid #d4dd29;
}